@keyframes slide {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-100%));
    }
}

.logos {
    overflow: hidden;
    //background-color: white;
    filter: opacity(50%);
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 35%, rgb(0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%);
}

.logos:hover {
    //transform: scale(1.1);
    filter: opacity(100%);
}


.logos-slide{
    animation: 20s slide infinite linear;
}

.h4{
    color: white;
    animation: 20s slide infinite linear;
}

.Slide-h4 {
    background-color: rgba(111, 65, 210, .25);
    box-shadow: inset 0 -4px 20px rgba(111, 65, 210, .5);
    color: ash;
}
